h1{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:SlateBlue;
    text-align: center; 
    text-decoration: underline
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align:; 
    background-color: rgb(23, 97, 167); 
    border-collapse: collapse; 
    border: 2px solid rgb(0, 0, 0)
  }
  table.inner{
    border: 0px
  }